.TreeItem {
  display: flex;
  flex-direction: row;
}

.PromptScreen {
  background: #f7971e;
  background: linear-gradient(to right, #f7971e, #ffd200);

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  padding: 30px;
}


body a {
  color: inherit;
}

.IndexPage-DropZone {
  border-width: 10px;
  border-color: white;
  border-style: dashed;
  border-radius: 5px;
  height: 100%;

  color: white;
  padding: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.IndexPage-DropZone--accepting {
  border-color: #4caf50;
}


body {
  background: #222222;
}


.AnalyzerScreen {
  color: white;
}

.AnalyzerScreen button {
  border-radius: 2px;
  padding: 0.2em 0.6em;
  font-size: 14px;
  color: white;
  background: #585858;;
  margin-right: 20px;
  border: 1px solid darkgrey;
}

.Analyzer {
  margin: 30px 0px;
  padding: 20px;
  border: 1px solid #FFC107;
  border-radius: 5px;
  color: white;
}

.Analyzer .TreeItem {
  border-bottom: 1px solid rgba(255, 255, 255, 0.32);
  font-size: .7em;
  align-items: center;
  /** Required to enable text ellipsis. */
  overflow: hidden;
}


.Analyzer .TreeItem--header {
  font-size: 0.5em;
  color: silver;
  text-transform: uppercase;
}

.Analyzer .TreeItem--hasChildren {
  cursor: pointer;
}

.Analyzer .TreeItem--hasChildren:hover {
  background: rgba(62, 59, 59, 0.4);
}

.Analyzer .TreeItem--unchanged {
  color: rgba(255, 255, 255, 0.29);
}
.Analyzer .TreeItem--increased .TreeCell-Label, .Analyzer .TreeItem--increased .TreeCell-Diff {
  color: #F44336;
}
.Analyzer .TreeItem--decreased .TreeCell-Label, .Analyzer .TreeItem--decreased .TreeCell-Diff {
  color: #4caf50;
}

.TreeCell .TreeCell-Flag {
  font-size: .6em;
  color: gray;
}

.Analyzer .TreeCell {
  width: 110px;
  padding: 0 10px;
  text-align: right;
  /** Make it easier to read on gradient background. */
  text-shadow: black 2px 2px 20px;
  flex-shrink: 0;
}

button {
  outline: none;
  background: white;
  padding: 17px;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(34, 34, 34, 0.4);
  transition: transform  0.1s ease-in-out;
}
button:hover {
  transform: scale(1.1);
}

.Header {
  margin: 30px 0px;
  display: flex;
  align-items: center;
}

.Footer {
  font-size: 14px;
}

h1 {
  margin: 0px;
}
h1 svg {
  vertical-align: bottom;
}

.blinking {
  animation: blinking 1s infinite;
}
.blinking:hover {
  animation: none;
}

@keyframes blinking {
  50% { transform: scale(1.05); }
}